<!DOCTYPE>
<html>
<head>
	<title>查看器 - XpimWeb</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
    <script type="text/javascript" src="../../core/js/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../core/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../core/js/common/common.js"></script>
    <script type="text/javascript" src="../../core/js/common/common3D.js"></script>
    <script type="text/javascript" src="../../core/js/common/static.js"></script>
    <script type="text/javascript" src="../../core/js/libs/three-r135.js"></script>
    <script type="text/javascript" src="../../core/js/libs/stats.min.js"></script>
    <script type="text/javascript" src="../../core/js/libs/Projector.js"></script>
    <script type="text/javascript" src="../../core/js/libs/dat.gui.min.js"></script>	
    <script type="text/javascript" src="../../core/js/libs/Detector.js"></script> 
    <script type="text/javascript" src="../../core/js/libs/dat.gui.min.js"></script>	 
    <script type="text/javascript" src="../../core/js/controls/OrbitControls-r93.js"></script> 
    <script type="text/javascript" src="../../core/js/controls/DragControls.js"></script> 
    <script type="text/javascript" src="../../core/js/loaders/constants.js"></script>  
	<script type="text/javascript" src="../../core/js/d2/CSS2DRenderer.js"></script>	 
    <script type="text/javascript" src="../../core/js/zip/zip.js"></script>
    <script type="text/javascript" src="../../core/js/zip/zip-fs.js"></script>
    <script type="text/javascript" src="../../core/js/zip/zip-ext.js"></script>
    <script type="text/javascript" src="../../core/js/zip/dataview.js"></script>
    <script type="text/javascript" src="../../core/js/zip/config.js"></script>  
	<link rel="stylesheet" href="../../core/css/bootstrap.min.css">	 
    <script type="text/javascript" src="../../core/js/manager/xpimManager.js"></script>
	<link rel="stylesheet" href="../../core/css/xpimManager.css"> 
	
    <script type="text/javascript" src="../../plugins/xpimLoader/xpimLoader.js"></script>
	<link rel="stylesheet" href="../../plugins/xpimLoader/xpimLoader.css">  
	
    <script type="text/javascript" src="../../plugins/xpimViewer/xpimViewer.js"></script>
	<link rel="stylesheet" href="../../plugins/xpimViewer/xpimViewer.css">	
	
    <script type="text/javascript" src="../../plugins/xpimTree/xpimTree.js"></script>
	<link rel="stylesheet" href="../../plugins/xpimTree/xpimTree.css"> 	
	
    <script type="text/javascript" src="../../plugins/xpimPropertyList/xpimPropertyList.js"></script>
	<link rel="stylesheet" href="../../plugins/xpimPropertyList/xpimPropertyList.css"> 	
	
    <script type="text/javascript" src="./testView.js"></script>
</head>
<body>  
	<div style="width:100%;height:100%" id="xpimViewerContainerId"></div>
</body>
</html>